:root {
  --accent-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --accent-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #FFFFFF;
  --fourth-text-color: #2196F3;
  --fifth-text-color: rgba(255, 255, 255, 0.6);
  --sixth-text-color: #01DF01;
  --accent-background: #ff98f3;
  --second-background: #FF0080;
  --accent-color: #EEEEEE;
  --second-color: #FFFFFF;
  --third-color: #2196F3;
  --fourth-color: #000000;
  --fifth-color: #AFB1B8;
  --accent-border-color: #212121;
  --second-border-color: #2196F3;
  --third-border-color: rgba(0, 0, 0, 0.1);
  --fourth-border-color: rgba(33, 33, 33, 0.2);
  --fifth-border-color: rgba(255, 255, 255, 0.3);
  --sixth-border-color: #EEEEEE;
  --seven-border-color: #AFB1B8;
  --accent-fill: #2196F3;
  --second-fill: #AFB1B8;
  --third-fill: #FFFFFF;
  --fourth-fill: #212121;
  --accent-placeholder: rgba(117, 117, 117, 0.5);
  --second-placeholder: rgba(255, 255, 255, 0.6);
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--accent-font), sans-serif;
  color: var(--accent-text-color);
  background-color: #ff98f3;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--accent-background);
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
    transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .btn__close {
    position: absolute;
    top: 10px;
    right: 15px;
    min-height: 40px;
    min-width: 40px;
    line-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    fill: var(--fourth-fill);
    -webkit-transition: fill var(--transition-duration-and-func);
    transition: fill var(--transition-duration-and-func);
  }
  .close__icon {
    -webkit-transition: fill var(--transition-duration-and-func);
    transition: fill var(--transition-duration-and-func);
  }
  .btn__close:hover .close__icon, .btn__close:focus .close__icon {
    fill: var(--accent-fill);
  }
  .page-header {
    width: 100%;
    height: 60px;
  }
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .carte {
    display: inline-block;
    margin-bottom: 40px;
  }
  .carte__point:not(:last-child) {
    margin-bottom: 25px;
  }
  .carte__reference {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-text-color);
  }
  .carte__reference.current {
    color: var(--fourth-text-color);
  }
  .connect {
    margin-bottom: 44px;
  }
  .connect__tel {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--fourth-text-color);
    margin-bottom: 32px;
  }
  .connect__mail {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
  }
  .societal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-left: 0;
    list-style: none;
  }
  .societal__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 2.1428571429;
    letter-spacing: 0.02em;
    color: var(--fourth-text-color);
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--seventh-background);
  -webkit-transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
  transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 528px;
    background-color: var(--accent-background);
    padding: 40px;
    border-radius: 4px;
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--accent-background);
    border: 1px solid var(--third-border-color);
    padding: 0;
    -webkit-transition: fill var(--transition-duration-and-func);
    transition: fill var(--transition-duration-and-func);
  }
  .modal-close-btn-icon {
    -webkit-transition: fill var(--transition-duration-and-func);
    transition: fill var(--transition-duration-and-func);
  }
  .modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--accent-fill);
  }
}
@media screen and (min-width: 1200px) {
  .modal-close-btn {
    top: 10px;
    right: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .modal-paragraph {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    margin-bottom: 12px;
  }
  .modal-form-field {
    margin-bottom: 4px;
  }
  .modal-form-input-desc {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
    margin-bottom: 4px;
  }
  .modal-form-input-wrapper {
    position: relative;
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--fourth-border-color);
    border-radius: 4px;
    padding-left: 42px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--accent-text-color);
    -webkit-transition: border-color var(--transition-duration-and-func);
    transition: border-color var(--transition-duration-and-func);
  }
  .modal-form-input:focus {
    outline: none;
    border-color: var(--second-border-color);
  }
  .modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transition: fill var(--transition-duration-and-func);
    transition: fill var(--transition-duration-and-func);
  }
  .modal-form-input:focus + .modal-form-input-icon {
    fill: var(--accent-fill);
  }
  .modal-form-message {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--accent-text-color);
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid var(--fourth-border-color);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 8px;
    -webkit-transition: border-color var(--transition-duration-and-func);
    transition: border-color var(--transition-duration-and-func);
  }
  .modal-form-message:focus {
    outline: none;
    border-color: var(--second-border-color);
  }
  .modal-form-message::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--accent-placeholder);
  }
  .modal-form-message::-moz-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--accent-placeholder);
  }
  .modal-form-message:-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--accent-placeholder);
  }
  .modal-form-message::-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--accent-placeholder);
  }
  .modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--accent-placeholder);
  }
  .modal-form-check-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-left: 12px;
    margin-bottom: 30px;
  }
  .modal-form-check-desc::before {
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid var(--accent-border-color);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 9px;
  }
  .modal-form-check:checked + .modal-form-check-desc::before {
    border-color: var(--third-color);
    background-color: var(--third-background);
    background-image: url("../images/icon_check.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-check-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: var(--fourth-text-color);
  }
  .modal-form-submit {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    padding: 12px 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    background-color: var(--third-background);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    -webkit-transition: background-color var(--transition-duration-and-func);
    transition: background-color var(--transition-duration-and-func);
    margin-left: auto;
    margin-right: auto;
  }
  .modal-form-submit:hover, .modal-form-submit:focus {
    background-color: var(--sixth-background);
  }
}
@media screen and (min-width: 1200px) {
  .modal-paragraph {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    background-color: #FF0080;
  }
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .btn__open {
    position: absolute;
    top: 10px;
    right: 15px;
    min-height: 40px;
    min-width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
}

.page-nav {
  position: relative;
}

.logotype {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #0080FF;
  margin-left: 15px;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logotype__header {
  color: #FFFF00;
}

.menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #424242;
  list-style: none;
  text-decoration: none;
  display: block;
  -webkit-transition: color var(--transition-duration-and-func);
  transition: color var(--transition-duration-and-func);
}
.menu__link:hover, .menu__link:focus {
  color: var(--fourth-text-color);
}
.menu__link.current {
  color: var(--fourth-text-color);
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 80px;
  }
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logotype {
    margin-right: 80px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .current {
    display: block;
    color: var(--third-color);
  }
  .current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--third-background);
    border-radius: 2px;
    left: 0;
    bottom: -34px;
  }
  .btn__open {
    display: none;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-left: auto;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact__list {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: #424242;
    -webkit-transition: color var(--transition-duration-and-func);
    transition: color var(--transition-duration-and-func);
  }
  .contact__list:hover, .contact__list:focus {
    color: var(--fourth-text-color);
  }
  .contact__icon {
    line-height: 0;
    fill: currentColor;
    margin-right: 8px;
  }
  .icon-mail {
    width: 14px;
    height: 10px;
  }
  .icon-tel {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logotype {
    margin-right: 80px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .current {
    display: block;
    color: var(--third-color);
  }
  .current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--third-background);
    border-radius: 2px;
    left: 0;
    bottom: -22px;
  }
  .btn__open {
    display: none;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-left: auto;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact__menu:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact__list {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: #424242;
    -webkit-transition: color var(--transition-duration-and-func);
    transition: color var(--transition-duration-and-func);
  }
  .contact__list:hover, .contact__list:focus {
    color: var(--fourth-text-color);
  }
  .contact__icon {
    line-height: 0;
    fill: currentColor;
    margin-right: 8px;
  }
  .icon-mail {
    width: 14px;
    height: 10px;
  }
  .icon-tel {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-color: #FF0080;
  }
  .logotype {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .menu {
    margin-left: 80px;
  }
  .current {
    display: block;
    color: var(--third-color);
  }
  .current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--third-background);
    border-radius: 2px;
    left: 0;
    bottom: -22px;
  }
  .contact__menu:not(:last-child) {
    margin-right: 30px;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
  .contact__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    padding-top: 32px;
    padding-bottom: 0;
  }
  .contact__icon {
    margin-right: 10px;
  }
  .icon-mail {
    width: 16px;
    height: 12px;
  }
  .icon-tel {
    width: 10px;
    height: 16px;
  }
}
.hero {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #ff98f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picContainer {
  position: relative;
  width: 1024px;
  height: 302px;
  border: 5px solid #ffffff;
  background: #ff98f3;
  border-radius: 20px;
}

img {
  width: 1024px;
  height: 302px;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.img {
  width: 1024px;
  height: 302px;
  border-radius: 20px;
  position: absolute;
  z-index: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.right {
  position: absolute;
  height: 100%;
  width: 60px;
  z-index: 99;
  cursor: pointer;
  color: #ff98f3;
  -webkit-transition: 1s;
  transition: 1s;
  right: 0;
  top: 0;
}

.right:hover {
  background: rgba(0, 0, 0, 0.25);
}

.right:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-size: 50px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.75);
          transform: translateY(-50%) scale(0.75);
  margin-right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.right:hover:before {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.left {
  position: relative;
  height: 100%;
  width: 60px;
  z-index: 99;
  cursor: pointer;
  color: #ff98f3;
  -webkit-transition: 1s;
  transition: 1s;
}

.left:hover {
  background: rgba(0, 0, 0, 0.25);
}

.left:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.75);
          transform: translateY(-50%) scale(0.75);
  margin-left: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.left:hover:before {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

input {
  position: absolute;
  top: 0;
  left: -200px;
}

.dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 10px;
  z-index: 99;
  background: #FF0080;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 5px #fff;
          box-shadow: 0px 0px 5px #fff;
}

.dot.a1 {
  margin-left: -30px;
}

.dot.a2 {
  margin-left: -10px;
}

.dot.a3 {
  margin-left: 10px;
}

.dot.a4 {
  margin-left: 30px;
}

.dot.a1:hover {
  background: #ff98f3;
}

.dot.a2:hover {
  background: #ff98f3;
}

.dot.a3:hover {
  background: #ff98f3;
}

.dot.a4:hover {
  background: #ff98f3;
}

#info {
  position: absolute;
  top: -65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__container {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    background-color: #FF0080;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .footer__list {
    display: block;
  }
  .logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    color: #0080FF;
    display: block;
    margin-bottom: 20px;
  }
  .logo__footer {
    color: #FFFF00;
  }
  .footer__link:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    -webkit-transition: color var(--transition-duration-and-func);
    transition: color var(--transition-duration-and-func);
  }
  .footer__address:hover, .footer__address:focus {
    color: var(--fourth-text-color);
  }
  .footer__contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    -webkit-transition: color var(--transition-duration-and-func);
    transition: color var(--transition-duration-and-func);
  }
  .footer__contact:hover, .footer__contact:focus {
    color: var(--fourth-text-color);
  }
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 60px;
  }
  .newsletter__paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-bottom: 20px;
  }
  .newsletter__input {
    display: block;
    width: 290px;
    height: 50px;
    border: 1px solid var(--fifth-border-color);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 0;
    outline: none;
  }
  .newsletter__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .pressbutton {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-left: 28px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: start;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    background-color: var(--third-background);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
  .pressbutton__icon {
    position: absolute;
    top: 13px;
    right: 28px;
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
    width: 24px;
    height: 24px;
    background-color: var(--third-background);
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .footer {
    height: 70px;
  }
  .footer__container {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    background-color: var(--second-background);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .footer__list {
    display: block;
  }
  .logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    color: #0080FF;
    display: block;
    margin-bottom: 20px;
  }
  .logo__footer {
    color: #FFFF00;
  }
  .footer__link:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    -webkit-transition: color var(--transition-duration-and-func);
    transition: color var(--transition-duration-and-func);
  }
  .footer__address:hover, .footer__address:focus {
    color: var(--fourth-text-color);
  }
  .footer__contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    -webkit-transition: color var(--transition-duration-and-func);
    transition: color var(--transition-duration-and-func);
  }
  .footer__contact:hover, .footer__contact:focus {
    color: var(--fourth-text-color);
  }
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 60px;
  }
  .newsletter__paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-bottom: 20px;
  }
  .newsletter__input {
    display: block;
    width: 450px;
    height: 50px;
    border: 1px solid var(--fifth-border-color);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 0;
    outline: none;
  }
  .newsletter__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .pressbutton {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-left: 28px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: start;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    background-color: var(--third-background);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
  .pressbutton__icon {
    position: absolute;
    top: 13px;
    right: 28px;
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
    width: 24px;
    height: 24px;
    background-color: var(--third-background);
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    background-color: #FF0080;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .footer__list {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    color: #0080FF;
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .logo__footer {
    color: #FFFF00;
  }
  .footer__link:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    -webkit-transition: color var(--transition-duration-and-func);
    transition: color var(--transition-duration-and-func);
  }
  .footer__address:hover, .footer__address:focus {
    color: var(--fourth-text-color);
  }
  .footer__contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    -webkit-transition: color var(--transition-duration-and-func);
    transition: color var(--transition-duration-and-func);
  }
  .footer__contact:hover, .footer__contact:focus {
    color: var(--fourth-text-color);
  }
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 60px;
  }
  .newsletter__paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-bottom: 20px;
  }
  .newsletter__input {
    display: block;
    width: 450px;
    height: 50px;
    border: 1px solid var(--fifth-border-color);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 0;
    outline: none;
  }
  .newsletter__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .newsletter__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second-placeholder);
    background-color: var(--second-background);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }
  .pressbutton {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-left: 28px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: start;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    background-color: var(--third-background);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }
  .pressbutton__icon {
    position: absolute;
    top: 13px;
    right: 28px;
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
    width: 24px;
    height: 24px;
    background-color: var(--third-background);
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    background-color: #FF0080;
    width: 100%;
    height: 70px;
    padding-left: 200px;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__list {
    margin-right: 70px;
  }
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923076923;
  }
  .footer__link:not(:last-child) {
    margin-bottom: 9px;
  }
  .social {
    margin-top: 72px;
    margin-right: 93px;
  }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .newsletter {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: auto;
  }
  .newsletter__input {
    width: 358px;
    margin-right: 12px;
  }
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}

tbody {
  width: 100%;
  height: 100%;
}

th {
  background-color: #00FFFF;
  color: rgb(238, 234, 12);
  text-shadow: 0 1px 1px #2D2020;
  padding: 10px 20px;
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

th:first-child,
td:first-child {
  text-align: left;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}

td {
  padding: 10px 20px;
  background: #FAAC58;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

tr td:last-child {
  border-right: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .portfolio__cards {
    width: 450px;
    height: auto;
    border: 1px solid #EEEEEE;
    -webkit-transition: -webkit-box-shadow var(--transition-duration-and-func);
    transition: -webkit-box-shadow var(--transition-duration-and-func);
    transition: box-shadow var(--transition-duration-and-func);
    transition: box-shadow var(--transition-duration-and-func), -webkit-box-shadow var(--transition-duration-and-func);
  }
  .portfolio__cards:hover {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio__link {
    display: block;
  }
  .wrapper {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    -webkit-transition: -webkit-transform var(--transition-duration-and-func);
    transition: -webkit-transform var(--transition-duration-and-func);
    transition: transform var(--transition-duration-and-func);
    transition: transform var(--transition-duration-and-func), -webkit-transform var(--transition-duration-and-func);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.02em;
    color: #212121;
    background-color: #ff98f3;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .subscription {
    border: 1px solid var(--sixth-border-color);
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .subscription__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--accent-text-color);
    text-decoration: none;
    margin-bottom: 4px;
  }
  .subscription__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .portfolio__cards {
    width: calc((100% - 30px) / 2);
    height: auto;
    border: 1px solid #EEEEEE;
    -webkit-transition: -webkit-box-shadow var(--transition-duration-and-func);
    transition: -webkit-box-shadow var(--transition-duration-and-func);
    transition: box-shadow var(--transition-duration-and-func);
    transition: box-shadow var(--transition-duration-and-func), -webkit-box-shadow var(--transition-duration-and-func);
  }
  .portfolio__cards:hover {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio__link {
    display: block;
  }
  .wrapper {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    -webkit-transition: -webkit-transform var(--transition-duration-and-func);
    transition: -webkit-transform var(--transition-duration-and-func);
    transition: transform var(--transition-duration-and-func);
    transition: transform var(--transition-duration-and-func), -webkit-transform var(--transition-duration-and-func);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.02em;
    color: #212121;
    background-color: #ff98f3;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .subscription {
    border: 1px solid var(--sixth-border-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .subscription__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--accent-text-color);
    text-decoration: none;
    margin-bottom: 4px;
  }
  .subscription__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .buttons {
    margin-bottom: 50px;
  }
  .portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__cards {
    width: calc((100% - 60px) / 3);
  }
  .subscription__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
  }
}/*# sourceMappingURL=main.css.map */